.product__box{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    max-width: 300px;
    background-color: black;
    color: rgb(97, 218, 251);
    font-size: 1.2rem;
}

.qty__span{
    margin: 0px 10px;
}

.reactBtn{
    background-color: rgb(97, 218, 251);
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 5px;
    border-radius: 5px;
    min-width: 30px;
}

.itemCard{
    display: flex;
    color: rgb(97, 218, 251);
    background-color: black;
    width: 400px;
    margin: 5px;

}

.itemDesc{
    margin-left: 10px;
}

.priceAndDesc{
    display: flex;
    align-items: center;
    justify-content: start;
}

.itemDescBtn{
    margin-left: 10px;
    background-color: rgb(97, 218, 251);
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 5px;
    border-radius: 5px;
    min-width: 30px;
}

.itemImg{
    width:10vw;
    height: 100%;
}

.itemDetailImg{
    width:15vw;
    height: 100%;
}

.itemDetailCard{
    margin-left: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    max-width: 700px;
    background-color: black;
    color: rgb(97, 218, 251);
    font-size: 1.2rem;
}

/* Spinner CSS */
.loader {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
}
.loader::after{
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #FF3D00;
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}

